.subhead {
  color: #779CAB;
  font-size: 1.7vw;
  margin-bottom: -10px;
  text-decoration: underline;
}

img {
  width: 25%;
  height: 75%;
  margin-left: 5%;
}

hr {
  margin: auto 220px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#text {
  color: #667277;
  font-size: 1.5vw;
  margin-right: 5%;
}

#footer {
  color: #667277;
  font-size: 1.5vw;
  text-align: center;
}