.image1 { /* Jennifer profile image */
  width: 25%;
  height: 75%;
  margin-left: 5%;
}

.image2 { /* Hugh profile image */
  width: 25%;
  height: 75%;
  float: right;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#text {
  color: #667277;
  width: 50%;
  font-size: 1.5vw;
}