body {
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

img {
  width: 75%;
  height: 25%;
  float: center;
}

.location-image {
  width: 50%;
  height: 100%;
  float: center;
}

table {
  width: 100%;
}

th {
  color: #779CAB;
  font-size: 1.7vw;
  text-decoration: underline;
  text-align: center;
}

td {
  color: #667277;
  font-size: 1.5vw;
  text-align: center;
}

hr {
  margin: auto 220px;
}

section {
  background-color: #fff;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#text {
  color: #667277;
  font-size: 1.5vw;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}